@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root{
    --clr:#222327;
}

body {
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background : var(--clr);
}

.nav {
    position: fixed;
    bottom: 10;
    right: 40%;
    width: 400px;
    height: 70px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.nav ul {
    display: flex;
    width: 350px;
}

.nav ul li {
    position: relative;
    list-style: none;
    width: 70px;
    height: 30px;
    z-index: 1;
}

.nav ul li a {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
    font-weight: 500;
}

.nav ul li a .icon {
    position:relative;
    display: block;
    line-height: 75px;
    font-size: 1.5em;
    text-align: center;
    transition: 0.5s;
    color: var(--clr);
}

.nav ul li.active a .icon {
    transform: translateY(-35px);
}

.nav ul li a .text {
    position: absolute;
    color: var(--clr);
    font-weight: 400;
    font-size: 0.75em;
    letter-spacing: 0.05em;
    transition: 0.5s;
    opacity: 0;
    transform: translateY(20px);
}

.nav ul li.active a .text {
    opacity: 1;
    transform:translateY(10px);
}

/* Design de la bulle verte de la barrede navigation*/
.indicator {
    position: absolute;
    top: -50%;
    width: 70px;
    height: 70px;
    background: #29fd53;
    border-radius: 50%;
    border: 5px solid var(--clr);
    transition: 0.5s;
}

/* Branche noire à gauche de la bulle pour affiner */
.indicator::before{
    content:'';
    position: absolute;
    top: 50%;
    left: -22px;
    width: 20px;
    height: 20px;
    background: transparent;
    border-top-right-radius: 20px;
    box-shadow: 0px -10px 0 0 var(--clr);
}

/* Branche noire à droite de la bulle pour affiner */
.indicator::after{
    content:'';
    position: absolute;
    top: 50%;
    right: -22px;
    width: 20px;
    height: 20px;
    background: transparent;
    border-top-left-radius: 20px;
    box-shadow: 0px -10px 0 0 var(--clr);
}

.nav ul li:nth-child(1).active ~ .indicator {
    transform: translateX(calc(70px*0));
}

.nav ul li:nth-child(2).active ~ .indicator {
    transform: translateX(calc(70px*1));
}

.nav ul li:nth-child(3).active ~ .indicator {
    transform: translateX(calc(70px*2));
}

.nav ul li:nth-child(4).active ~ .indicator {
    transform: translateX(calc(70px*3));
}

.nav ul li:nth-child(5).active ~ .indicator {
    transform: translateX(calc(70px*4));
}

button.active {
    transform: translateX(-190px);
}

#container {
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.toast {
    background-color: rebeccapurple;
    border-radius: 5px;
    color: white;
    padding: 2rem;
    margin: 1rem;
}

.button2D {
    background-color: rebeccapurple;
    color: white;
    font-family: inherit;
    padding: 1rem;
    border-radius: 5px;
    border: none;
}
.button3D  {
    background-color: rebeccapurple;
    color: white;
    font-family: inherit;
    padding: 1rem;
    border-radius: 5px;
    border: none;
}

body.dark {
    background-color: white;
    color:#1f1f1f;
}

.marker {
    background-image: url('https://cdn-icons-png.flaticon.com/512/205/205916.png');
    background-size: cover;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    cursor: pointer;
  }

  .form-popup {
    display: none;
    position: fixed;
    bottom: 0;
    right: 15px;
    border: 3px solid #f1f1f1;
    z-index: 9;
    border-radius: 30px;
  }

  .form-container {
    max-width: 300px;
    padding: 10px;
    background-color: #222327;
    border-radius: 30px;
    color: #29fd53;
  }

  .form-container input[type=text] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
    border-radius: 30px;
  }

  .form-container input[type=text]:focus {
    background-color: #ddd;
    outline: none;  
  }

  .form-container input[type=text], .form-container input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
  }

  .form-container .button {
    background-color: #29fd53;
    font-family: inherit;
    border-radius: 30px;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
  }

  /*Permet d'ajouter d'illuminer le bouton quand il est hovered*/
  .form-container .button:hover, .open-button:hover {
    opacity: 1;
  }
  
  .form-container h1 {
    text-align: center;
  }

/*
  #id => pour accéder précisément à l'id de blabla
*/
  .hide {
    display: none;
    color:red;
  }

  .popup {
    display: none;
    margin: 70px auto;
    padding: 20px;
    background: #222327;
    color: #29fd53;
    border-radius: 30px;
    border: 3px solid #f1f1f1;
    width: 30%;
    position: relative;
    top:90px;right:20px;
    transition: all 5s ease-in-out;
  }
  
  .popup h2 {
    margin-top: 0;
    color: white;
    font-family: Tahoma, Arial, sans-serif;
  }
  .popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
  }
  .popup .close:hover {
    color: #06D85F;
  }
  .popup .content {
    max-height: 30%;
    overflow: auto;
  }
  

  

 


